.img-custom {
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
  border: solid 0.150rem #E4C580;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.9);
}

.card-custom {
  color: #0D19A3;
  background-color: ghostwhite;
  opacity: 0.9;
  border-radius: 1rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.9);
}

.details {
  color: #080F5B;
  font-weight: bold;
}

input, input:focus {
  color: #0D19A3;
  background-color: #F4E4C1;
  border: solid 0.1rem #0D19A3;
  border-radius: 0.5rem;
}

.change-button {
  color: white;
  background-color: #E4C580;
}

.change-button:hover {
  color: #E4C580;
  background-color: white;
  border-color: #E4C580;
}

.ng-invalid.ng-touched {
  border-color: #CF352E;
}

.alert-color {
  color: #CF352E;
}

.ng-valid.ng-touched {
  border-color: #0D19A3;
}
