<div class="container d-flex justify-content-center mt-5">
  <div class="col-lg-11 col-sm-12 col-11">
    <div class="row d-flex align-items-center mb-3">
      <div class="col-auto ps-0">
        <select class="form-select sort-select-group form-select-sm rounded-3"
                  (change)="sortProjects($event)">
          <option *ngFor="let option of sortOptions" [value]="option.value">{{option.label}}</option>
        </select>
      </div>
    </div>
    <div class="row d-flex align-items-center mb-3">
      <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-9 ps-0">
        <div class="input-group search-input-group input-group-sm rounded-3">
          <input class="form-control ps-2" type="text" placeholder="Search projects" [(ngModel)]="searchQuery"
                 (input)="searchProjects()" (focus)="isSearchActive = true" (blur)="isSearchActive = false">
          <span class="input-group-text input-icon-modal px-2">
            <i class="bi bi-search"></i>
          </span>
        </div>
      </div>
      <div class="col-auto ms-auto pe-0">
        <i class="bi bi-plus-lg function-container rounded-3 me-2 p-1 pointer"></i>
        <i class="bi bi-link function-container rounded-3 p-1 pointer"
           data-bs-toggle="modal" data-bs-target="#joinProjectModal"></i>
      </div>
    </div>
    <div class="row header-container rounded-top-3 pt-3 pb-1">
      <div *ngFor="let header of headers" [ngClass]="header.class">
        <i [class]="header.icon + ' pe-2'"></i>{{header.label}}
      </div>
    </div>
    <ng-container *ngIf="filteredProjectsRows.length != 0 else noProjects">
      <div *ngFor="let projectRow of filteredProjectsRows, let first = first, let last = last;"
           class="row content-container pt-3 pb-2"
           [ngClass]="{'rounded-bottom-3 shadow-container': last}">
        <div class="col-md-4 col-sm-5 col-8 d-flex align-items-center" [routerLink]="['/project', projectRow.id]">
          <span class="text-truncate" [innerHTML]="projectRow.name"></span>
          <i class="d-md-none ms-2" [innerHTML]="statusToIcon(projectRow.status)"></i>
        </div>
        <div class="col-md-3 col-4 d-sm-flex d-none align-items-center justify-content-start">
          <img class="img-custom me-3" [ngSrc]="projectRow?.adminProfilePicture || defaultProfilePicture"
               [height]="1" [width]="1" alt="Admin profile picture" priority>
          <span class="text-truncate">{{projectRow.adminUsername}}</span>
        </div>
        <div class="col-md-2 col-sm-3 col-4 d-flex align-items-center justify-content-end justify-content-md-start">
          <span class="text-truncate">{{roleToString(projectRow.userRole)}}</span>
        </div>
        <div class="col-3 d-md-flex d-none align-items-center justify-content-end" [innerHTML]="statusToIcon(projectRow.status)"></div>
        <div class="col-12 d-block d-sm-none pb-3">
          <span class="d-flex align-items-center" style="font-size: 0.7rem">
            <img class="img-custom2 me-2" [ngSrc]="projectRow?.adminProfilePicture || defaultProfilePicture"
                 [height]="1" [width]="1" alt="Admin profile picture" priority>{{projectRow.adminUsername}}
          </span>
        </div>
      </div>
    </ng-container>
    <ng-template #noProjects>
      <div class="row content-container shadow-container rounded-bottom-3 pt-3 pb-2">
        <h5 *ngIf="searchQuery.trim().length == 0 else noProjectsFound" class="text-center">You aren't part of any
          project</h5>
        <ng-template #noProjectsFound>
          <h5 class="text-center text-truncate">Can't find projects matching "{{searchQuery.trim()}}"</h5>
        </ng-template>
      </div>
    </ng-template>
  </div>
</div>
<div class="modal fade" id="joinProjectModal" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="border: solid var(--border-width) var(--primary-color);">
      <div class="modal-header">
        <h6 class="modal-title" id="joinProjectModalLabel">Join Project</h6>
        <button class="btn-close" type="button" data-bs-dismiss="modal" (click)="joinProjectForm.reset()">
        </button>
      </div>
      <div class="modal-body">
        <form #joinProjectForm=ngForm (submit)="joinProject()">
          <div class="mb-3">
            <div class="input-group join-input-group" [ngClass]="{'input-active': isCodeInputActive}">
              <input class="form-control" type="text" placeholder="Code" name="projectCode"
                     [(ngModel)]="projectCode"
                     (focus)="isCodeInputActive = true" (blur)="isCodeInputActive = false"
                     #code="ngModel" required>
              <span class="input-group-text input-icon-modal">
                <i class="bi bi-code"></i>
              </span>
            </div>
            <div *ngIf="code.invalid && code.touched">
              <p *ngIf="code.errors?.['required']" class="error-msg ms-2 mt-1">Code is required</p>
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group join-input-group" [ngClass]="{'input-active': isPasswordInputActive}">
              <input class="form-control" type="password" placeholder="Password" name="projectPassword"
                     [(ngModel)]="projectPassword"
                     (focus)="isPasswordInputActive = true" (blur)="isPasswordInputActive = false"
                     #password="ngModel" required>
              <span class="input-group-text input-icon-modal">
                <i class="bi bi-shield-lock-fill"></i>
              </span>
            </div>
            <div *ngIf="password.invalid && password.touched">
              <p *ngIf="password.errors?.['required']" class="error-msg ms-2 mt-1">Password is required</p>
            </div>
          </div>
          <button class="btn btn-success w-100" type="submit" [disabled]="code.invalid || password.invalid">
            Join
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
