input, input:focus, select, select:focus {
  color: #0D19A3;
  background-color: #F4E4C1;
  border: solid 0.1rem #0D19A3;
  border-radius: 0.5rem;
}

.details {
  color: #080F5B;
  font-weight: bold;
}

.ng-invalid.ng-touched {
  border-color: #CF352E;
}

.alert-color {
  color: #CF352E;
}

.ng-valid.ng-touched {
  border-color: #0D19A3;
}
